[tonemap]
; Enable/disable whole sysmodule. Overrides the profile-specific config
enabled = true

poll_interval_ms = 300

; tonemap operator
;   0 = off
;   1 = Reinhard
;   2 = Reinhard Extended
;   3 = Hable
;   4 = ACES

; Handheld Optimal
[tonemap_handheld]
enabled = true

curve = 4

exposure = 0.7

white_point = 2.05

expand = 0.418

contrast = 0.995



; Docked optimal
[tonemap_docked]
enabled = true

curve = 4

exposure = 0.7

white_point = 2.05

expand = 0.418

contrast = 0.995
